<html lang="en">
{% extends 'home.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table border="1px" class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Name
                          </th>
                          <th>
                            Email
                          </th>
                             <th>
                            Mobile
                          </th>
                               <th>
                            Date
                          </th>


                        </tr>
                      </thead>
                      <tbody>
{% for d in data %}
                        <tr>

                          <td>
                            {{d.Name}}
                          </td>
                          <td>
                            {{d.Email}}
                          </td>
                          <td>
                            {{d.Mobile}}
                          </td>
                             <td>
                            {{d.date_created}}
                          </td>


                          <td>

                               <form action="{% url 'deletelead' dataid=d.id %}">
                               <button onclick="alertmsg()" type="submit" class="btn btn-danger">Delete</button>
                                </form>
                          </td>
                        </tr>
{% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
    <script>
      function myFunction() {
        alert("Deleted..!");
      }
    </script>
</body>
</html>
{% endblock %}